@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&display=swap");

* {
  font-family: "Outfit", sans-serif;
  margin: 10;
  padding: 10;
  box-sizing: inherit;
}

qr-image{
  margin: 10
  padding: 10
}