@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&display=swap");

* {
  font-family: "Outfit", sans-serif;
  box-sizing: inherit;
  background-color: hsl(212, 45%, 89%);
}

#div-background {
  background-color: white;
  height: auto;
  width: 288px;
  box-sizing: content-box;
}

#qr-image {
  position: inherit;
  width: 288px;
  height: 288px;
}

#top-text {
  color: #1f314f;
  position: inherit;
  top: 20px;
  background-color: inherit;
}

#bottom-text {
  color: #7d889e;
  background-color: inherit;
}
